.avatar-group .avatar {
  overflow: hidden;
  border-radius: 9999px;
  border-width: 4px;
  --tw-border-opacity: 1;
  border-color: #fff;
}
 .swiper-slide {
        text-align: center;
      }
.select:focus {
  outline: 0px solid hsla(var(--bc) / 0.2);
  outline-offset: 0px;
}

.swiper-slide {

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;

}
.swiper-slide{
  position: static !important;
}
.swiper-wrapper{
  position: static !important;
}
.swiper{
  position: static !important;
}
.btn:active:hover,
.btn:active:focus {
  transform: none !important;
}

.yoyo2 {

  bottom: 3px !important;
  left: -17px !important;
  width: 100% !important;
}
.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: red !important;
  outline-style: double;
  outline-color: red;
  background-size: 1px !important;

}

.cus{
  width: 600px !important;
}


.swiperedition{
  overflow: inherit !important;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
  position: absolute !important;
  left: 10% !important;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
  position: absolute !important;
  margin-right: 20px !important;
  left: 0% !important;
}
.swiper-button-next,.swiper-button-prev{
  top: 90% !important;
  color: var(--swiper-navigation-color,#1c1c1c) !important;
}